@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



@theme{
     --color-primary:#A5A49A;
     --color-green:#00a63e;
     --color-gold:#f0b100;
}

.btn{
     background-color: rgb(1, 184, 1);
     margin-left: -60px;
     padding:0 20px;
     border-radius: 0 6px 6px 0;

}



body{
     font-family: "Outfit", sans-serif;
}


body{
     font-family: "Outfit", sans-serif;
}




@layer components{
     .timeline-time{
          @apply flex flex-col items-center relative z-10 ;
     }
     .year{
          @apply lg:text-5xl  md:text-4xl text-2xl font-semibold text-[#1F4E3D] mb-[5px];
     }
     .event{
          @apply md:text-sm text-xs text-[#666] ;
     }
     
}


.timeline::before{
content: '';
position: absolute;
top: 12%;
left: 0;
right: 0;
height: 2px;
background: #1F4E3D;
}

.timeline-time::before{
     content: '';
     width: 35px;
     height: 35px;
     background-color: #1F4E3D;
     border-radius: 50%;
     margin-bottom: 10px;
}


